/* Container for the full scale image. */
.slideshow-big {
    height: 373px;
	overflow: hidden;
	padding: 33px 0 0 42px;
    width: 562px;
}
/* Scale images to fill the container, regardless of aspect ratio. */
.slideshow-big img {
	min-height: 333px;
	min-width: 500px;
}
/* Hide thumbnails and navigation if javascript is disabled. */
.slideshow-controls {
	display: none;
	margin: 0 0 0 13px;
}
/* Determines the number of thumbs per line. */
.galleria {
	margin: 0 0 0 30px;
	width: 450px;
}
/* Thumbnail dimensions and spacing. */
.galleria li {
	height: 40px;
	margin: 0 10px 10px 0;
	width: 50px;
}
/* Malarkey Image Replacement */
.slideshow-back, .slideshow-forward, .slideshow-fullscreen, .slideshow-more {
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
/* Navigation user controls. */
.slideshow-back, .slideshow-forward, .slideshow-fullscreen, .slideshow-more {
	border-width: 0;
	display: block;
	float: left;
	text-decoration: none;
}
.slideshow-back, .slideshow-forward {
	height: 22px;
	width: 20px;
	margin: 9px 0 0 0;
}
.slideshow-fullscreen, .slideshow-more {
	height: 32px;
	width: 38px;
	margin: 6px 0 0 5px;
}
.slideshow-back { background: url('../images/sprites-slideshow.png') no-repeat scroll -4px -28px transparent; }
.slideshow-back:hover { background-position: -4px -29px; }
.slideshow-back:active { background-position: -4px -27px; }
.slideshow-forward { background: url('../images/sprites-slideshow.png') no-repeat scroll -26px -28px transparent; }
.slideshow-forward:hover { background-position: -26px -29px; }
.slideshow-forward:active { background-position: -26px -27px; }
.slideshow-fullscreen { background: url('../images/sprites-slideshow.png') no-repeat scroll -55px -46px transparent; }
.slideshow-fullscreen:hover { background-position: -55px -47px; }
.slideshow-fullscreen:active { background-position: -55px -45px; }
.slideshow-more { background: url('../images/sprites-slideshow.png') no-repeat scroll -55px -6px transparent; }
.slideshow-more:hover { background-position: -55px -7px; }
.slideshow-more:active { background-position: -55px -5px; }
