/* Container for the full scale image. */
.slideshow-big {
    background: url('../images/frontpage-picture.png') no-repeat scroll left top transparent;
    height: 389px;
	overflow: hidden;
	padding: 27px 0 0 29px;
    width: 562px;
}
/* Scale images to fill the container, regardless of aspect ratio. */
.slideshow-big img {
	min-height: 333px;
	min-width: 500px;
}
/* Hide thumbnails and navigation if javascript is disabled. */
.slideshow-controls {
	display: none;
}
/* Determines the number of thumbs per line. */
.galleria {
	margin: 0 0 0 30px;
	width: 450px;
}
/* Thumbnail dimensions and spacing. */
.galleria li {
	height: 40px;
	margin: 0 10px 10px 0;
	width: 50px;
}
/* Malarkey Image Replacement */
.slideshow-back, .slideshow-forward, .slideshow-fullscreen, .slideshow-more {
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
/* Navigation user controls. */
.slideshow-back, .slideshow-forward, .slideshow-fullscreen, .slideshow-more {
	border-width: 0;
	display: block;
	float: left;
	text-decoration: none;
}
.slideshow-back, .slideshow-forward {
	height: 40px;
	width: 19px;
}
.slideshow-back:hover, .slideshow-forward:hover {
	background-position: left -11px;
}
.slideshow-back:active, .slideshow-forward:active {
	background-position: left -9px;
}
.slideshow-back {
	background: url('../images/gallery-left.png') no-repeat scroll left -10px transparent;
}
.slideshow-forward {
	background: url('../images/gallery-right.png') no-repeat scroll left -10px transparent;
}
.slideshow-fullscreen, .slideshow-more {
	height: 32px;
	width: 38px;
	margin: 4px 0 0 5px;
}
.slideshow-fullscreen:hover, .slideshow-more:hover {
	background-position: left -1px;
}
.slideshow-fullscreen:active, .slideshow-more:active {
	background-position: left 1px;
}
.slideshow-fullscreen {
	background: url('../images/slideshow-fullscreen.png') no-repeat scroll left center transparent;
}
.slideshow-more {
	background: url('../images/slideshow-more.png') no-repeat scroll left top transparent;
}
